*.meta linguist-generated
*.csproj linguist-generated
*.unity linguist-generated
*.prefab linguist-generated
*.mat linguist-generated
*.anim linguist-generated
*.controller linguist-generated
*.asset linguist-generated

Plugins/** linguist-vendored
